name: Deploy

on: 
    push:
        branches: 
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Setup up Node.js
              uses: actions/setup-node@v3
              with: 
                node-version: 18

            - name: Install dependencies
              run: npm install

            - name: Build icons.json
              run: npm run build.js

            - name: Deploy
              uses: clouflare/wrangler-actions@v3
              with:
                apiToken: ${{ secrets.CF_API_TOKEN }}